# Data Wrangling - Capstone Project

In [1]:
## Explore data:

import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt  
import seaborn as sns

/anaconda3/lib/python3.6/site-packages/matplotlib/font_manager.py:281: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  'Matplotlib is building the font cache using fc-list. '

In [4]:

### Load data: 

aisles = pd.read_csv('/Users/Gemy/Desktop/SPRING BOARD/Instacart Capstone/all/aisles.csv')
departments = pd.read_csv('/Users/Gemy/Desktop/SPRING BOARD/Instacart Capstone/all/departments.csv')
orders = pd.read_csv('/Users/Gemy/Desktop/SPRING BOARD/Instacart Capstone/all/orders.csv')
products = pd.read_csv('/Users/Gemy/Desktop/SPRING BOARD/Instacart Capstone/all/products.csv')
orderproducts_prior = pd.read_csv('/Users/Gemy/Desktop/SPRING BOARD/Instacart Capstone/all/order_products__prior.csv')
orderproducts_train = pd.read_csv('/Users/Gemy/Desktop/SPRING BOARD/Instacart Capstone/all/order_products__train.csv')

In [6]:
aisles.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [6]:
departments.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [19]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [15]:
## Notice there are missing values in orders data. Look more into the number of null values of
##days since prior order:

pd.isnull(orders['days_since_prior_order']).sum()

206209

In [23]:
orders.info()

### So we notice that the null values account for about 6% 
206209/3421083

## Decide to keep in the null values for now.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
order_id                  int64
user_id                   int64
eval_set                  object
order_number              int64
order_dow                 int64
order_hour_of_day         int64
days_since_prior_order    float64
dtypes: float64(1), int64(5), object(1)
memory usage: 182.7+ MB

0.06027594185817766

In [18]:
## Check for unique values of var ' days since prior orders': 

orders['days_since_prior_order'].unique()

array([nan, 15., 21., 29., 28., 19., 20., 14.,  0., 30., 10.,  3.,  8.,
       13., 27.,  6.,  9., 12.,  7., 17., 11., 22.,  4.,  5.,  2., 23.,
       26., 25., 16.,  1., 18., 24.])

In [7]:
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [26]:
orderproducts_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [13]:
orderproducts_train.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [29]:
orderproducts_prior.shape

(32434489, 4)

In [49]:
### Inorder to gain more insights into the order_products_ prior dataset, we need to merge
###information from orders, products, departments and aisles dataset, matching on product ID, aisle ID, department ID: 

df = pd.merge(orderproducts_prior, products, on ='product_id', how='left')
df = pd.merge(df, aisles, on ='aisle_id', how='left')
df = pd.merge(df, departments, on ='department_id', how='left')

In [50]:
df.shape

(32434489, 9)

In [51]:
df.head()

,order_id,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,aisle,department
0,2,33120,1,1,Organic Egg Whites,86,16,eggs,dairy eggs
1,2,28985,2,1,Michigan Organic Kale,83,4,fresh vegetables,produce
2,2,9327,3,0,Garlic Powder,104,13,spices seasonings,pantry
3,2,45918,4,1,Coconut Butter,19,13,oils vinegars,pantry
4,2,30035,5,0,Natural Sweetener,17,13,baking ingredients,pantry

In [42]:
## Check to see how many products in the dataset:

product_count = df['product_name'].value_counts()

In [52]:
print(len(product_count))

49677

In [64]:
## CHECK FOR MISSING VALUES in the new merged data frame DF: 

missing= df.isnull().sum().sort_values(ascending=False)
print(missing)

department           0
aisle                0
department_id        0
aisle_id             0
product_name         0
reordered            0
add_to_cart_order    0
product_id           0
order_id             0
dtype: int64

So it looks like there is no missing values in the DF data frame

In [53]:
## Print top 10 products count: 
product_count.head(10)

Banana                    472565
Bag of Organic Bananas    379450
Organic Strawberries      264683
Organic Baby Spinach      241921
Organic Hass Avocado      213584
Organic Avocado           176815
Large Lemon               152657
Strawberries              142951
Limes                     140627
Organic Whole Milk        137905
Name: product_name, dtype: int64

In [65]:
## Top 10 aisles:

df['aisle'].value_counts().head(10)

fresh fruits                     3642188
fresh vegetables                 3418021
packaged vegetables fruits       1765313
yogurt                           1452343
packaged cheese                   979763
milk                              891015
water seltzer sparkling water     841533
chips pretzels                    722470
soy lactosefree                   638253
bread                             584834
Name: aisle, dtype: int64

In [69]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [70]:
orders.shape

(3421083, 7)

In [66]:
### Merge the data frame DF with orders dataset to obtain the most complete dataset. 

df2 = pd.merge(df, orders, on ='order_id', how='left' )

In [67]:
df2.head()

,order_id,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,aisle,department,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2,33120,1,1,Organic Egg Whites,86,16,eggs,dairy eggs,202279,prior,3,5,9,8.0
1,2,28985,2,1,Michigan Organic Kale,83,4,fresh vegetables,produce,202279,prior,3,5,9,8.0
2,2,9327,3,0,Garlic Powder,104,13,spices seasonings,pantry,202279,prior,3,5,9,8.0
3,2,45918,4,1,Coconut Butter,19,13,oils vinegars,pantry,202279,prior,3,5,9,8.0
4,2,30035,5,0,Natural Sweetener,17,13,baking ingredients,pantry,202279,prior,3,5,9,8.0

In [68]:
df2.shape

(32434489, 15)

Overall the dataset is quite clean, and the final merged dataset is by orders prior to that users most recent order. 
We can later separate this merged large dataset into smaller data frame for better understanding of the data. 
We would be interested in learning about orders by day, by time, days prior order, number of products, 
products by departments, aisles,...

In [75]:
### Number of unique customers:


len(df2.user_id.value_counts())

206209